.footer
    padding: 22px 0

.footer-container
    color: $color-text-gray
    align-items: flex-start

.navigation_footer
    width: 100%
    flex-direction: row
    display: flex
    justify-content: space-between

.navigation-list__item_footer
    font-size: 12px
    margin-right: 26px