$color-white: #fff
$color-text-black: #333333
$color-text-gray: #858585
$color-lightGray: #f7f7f7
$color-darkGray: #f3f3f3
$color-text-lightGray: #f0f0f0
$color-yellow: #ffd93e
$color-lightYellow: #ffde57
$color-red: #db5341
$color-shadow: rgba(197, 186, 186, .5)
$animate: 0.2s all linear
$shadow: 0 2px 6px 0 $color-shadow
$media-start-width: 1099px
$media-middle-width: 991px
$media-mobile-width: 991px