ul.navigation-list.navigation-list_header
    li.navigation-list__item.navigation-list__item_header
        a.link.link_active Сводка
    li.navigation-list__item.navigation-list__item_header
        a.link Устройства
    li.navigation-list__item.navigation-list__item_header
        a.link Сценарии
    li.navigation-list__item.navigation-list__item_header
        a.link(href='/video') Видеонаблюдение
    