.header
    z-index: 10
    width: 100%
    background: #fff

.header__container
    font-size: calc(0.3vw + 1rem)
    flex-direction: row

.header__logo
    margin-right: 30px

.navigation-list__item_header
    margin-right: 26px

.burger
    padding: 5px
    border-radius: 5px
    background: #fff
    z-index: 10000
