doctype html
html
    meta(http-equiv="Cache-control" content="no-cache")
    meta(http-equiv="Pragma" content="no-cache")
    meta(http-equiv="Expires" content="-1")
    base(href=`${origin}`)
    script(src='bundle.js')
    script(src="https://cdn.jsdelivr.net/npm/hls.js@latest")
    script(src="https://code.jquery.com/pep/0.4.3/pep.js")
    include components/head
    body
    include inter
    .main
        include components/header
        block content-block
        include components/footer