doctype html
html
    - const events = require('./events.json').events;
    - events.sort((a, b) => {
    -    a = a.time.slice(0, 5).split(':');
    -    b = b.time.slice(0, 5).split(':');
    -    a = a[0] * 60 + a[1];
    -    b = b[0] * 60 + b[1];
    -    return b - a; 
    - });
    include inter
    include components/head
    body
        .main
            include components/header
            include components/content
            include components/footer