.box-image-wrapper
    touch-action: none
    overflow: hidden
    background-repeat: repeat-x
    width: 100%
    background-size: 100% 100%
    border-radius: 20px

.box__image
    width: 100%
    visibility: hidden

.box-options
    margin-top: 20px
    font-weight: 100
    font-size: calc(0.4vw + 0.8rem)
    display: none
    justify-content: space-between
    flex-wrap: wrap

.options__zoom,
.options__brightness
    margin-right: 20px
