.box-image-wrapper
    touch-action: none
    overflow: hidden
    background-repeat: repeat-x
    width: 100%
    background-size: 100% 100%
    border-radius: 20px

.box__image
    width: 100%
    visibility: hidden

.box-options
    display: none
    justify-content: space-between
    flex-wrap: wrap