.events
    grid-template-columns: repeat(6, 1fr)

.event__title
    font-size: calc(0.505vw + 1rem)

.event-desc
    font-size: calc(0.15vw + 1rem)

.event__description
    font-size: calc(0.3vw + 1rem)

.event_size_l
    grid-column: span 4
    grid-row: span 3
    .event__description
        font-size: calc(0.56vw + 1rem)

.event_size_m
    grid-column: span 3
    grid-row: span 2

.event_size_s
    grid-column: span 2
    grid-row: span 1
