.footer
    padding: 22px 0

.footer-container
    color: #858585
    align-items: flex-start

.navigation_footer
    font-size: calc(0.1vw + 1rem)
    width: 100%
    flex-direction: row
    display: flex
    justify-content: space-between

.navigation-list__item_footer
    margin-right: 26px

.copyright
    font-size: calc(0.1vw + 1rem)
    flex-grow: 2
    text-align: right

@media(max-width: 1127px)
    .navigation_footer,
    .copyright
        font-size: calc(0.1vw + 0.8rem)
