.footer
    padding: 22px 0

.footer-container
    color: #858585
    align-items: flex-start

.navigation_footer
    width: 100%
    flex-direction: row
    display: flex
    justify-content: space-between

.navigation-list__item_footer
    margin-right: 26px

.copyright
    flex-grow: 2
    text-align: right
