doctype html
html
    meta(http-equiv="Cache-control" content="no-cache")
    meta(http-equiv="Pragma" content="no-cache")
    meta(http-equiv="Expires" content="-1")
    base(href=`${origin}`)
    script(src="https://code.jquery.com/pep/0.4.3/pep.js")
    include ../head
    body
        include ../../inter
        .main
    script(src="flux.js" defer)
