<!doctype html>
head
    title React - press "F" to respect
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
.app
script(src='react.js')
