.footer
    padding: 22px 0

.footer__container
    color: #858585
    align-items: flex-start
    flex-direction: row

.navigation_block_footer
    flex-direction: row
    display: flex
    justify-content: space-between

.navigation-list_block_footer
    flex-grow: 2

.navigation-list__item_block_footer
    margin-right: 26px

.copyright
    text-align: right
    display: inline-block
