footer.footer.section.media-desktop
    .footer-container.container
        nav.navigation.navigation_footer
            include menu-parts/footer-menu
            .copyright &copy; 2001-2017 ООО «Яндекс»