header.header.section
    .header-container.container
        a(href='/events')
            img.header__logo(src='assets/logo.svg')
        img.media-mobile.burger(src='assets/i_burger.svg')
        nav.navigation.navigation_header
            .navigation_header-wrapper
                include menu-parts/header-menu
                .media-mobile
                    include menu-parts/footer-menu
